/target/ 
/.settings/ 
/*.project



/matrix-core/target/
/matrix-core/.settings/
/matrix-core/.project 
/matrix-core/.classpath


/matrix-cache/target/
/matrix-cache/.settings/
/matrix-cache/.project 
/matrix-cache/.classpath


/matrix-quartz/target/
/matrix-quartz/.settings/
/matrix-quartz/.project 
/matrix-quartz/.classpath


/matrix-manager/target/
/matrix-manager/.settings/
/matrix-manager/.project 
/matrix-manager/.classpath


/matrix-admin/target/
/matrix-admin/.settings/
/matrix-admin/.project 
/matrix-admin/.classpath


/matrix-example/target/
/matrix-example/.settings/
/matrix-example/.project 
/matrix-example/.classpath











