/target/ 
/.settings/ 
/*.project
/.DS_Store
/distributed/

/matrix-core/target/
/matrix-core/.settings/
/matrix-core/.project 
/matrix-core/.classpath
/matrix-core/.DS_Store


/matrix-cache/target/
/matrix-cache/.settings/
/matrix-cache/.project 
/matrix-cache/.classpath
/matrix-cache/.DS_Store


/matrix-quartz/target/
/matrix-quartz/.settings/
/matrix-quartz/.project 
/matrix-quartz/.classpath
/matrix-quartz/.DS_Store


/matrix-manager/target/
/matrix-manager/.settings/
/matrix-manager/.project 
/matrix-manager/.classpath
/matrix-manager/.DS_Store


/matrix-manager-api/target/
/matrix-manager-api/.settings/
/matrix-manager-api/.project 
/matrix-manager-api/.classpath
/matrix-manager-api/.DS_Store


/matrix-admin/target/
/matrix-admin/.settings/
/matrix-admin/.project 
/matrix-admin/.classpath
/matrix-admin/.DS_Store


/matrix-example/target/
/matrix-example/.settings/
/matrix-example/.project 
/matrix-example/.classpath
/matrix-example/.DS_Store


/matrix-api/target/
/matrix-api/.settings/
/matrix-api/.project 
/matrix-api/.classpath
/matrix-api/.DS_Store


/matrix-dubbo-admin/target/
/matrix-dubbo-admin/.settings/
/matrix-dubbo-admin/.project 
/matrix-dubbo-admin/.classpath
/matrix-dubbo-admin/.DS_Store


/matrix-dubbo-monitor/target/
/matrix-dubbo-monitor/.settings/
/matrix-dubbo-monitor/.project 
/matrix-dubbo-monitor/.classpath
/matrix-dubbo-monitor/.DS_Store


/matrix-route/target/
/matrix-route/.settings/
/matrix-route/.project 
/matrix-route/.classpath
/matrix-route/.DS_Store


/matrix-fescar/target/
/matrix-fescar/.settings/
/matrix-fescar/.project 
/matrix-fescar/.classpath
/matrix-fescar/.DS_Store


/matrix-rocket-mq/target/
/matrix-rocket-mq/.settings/
/matrix-rocket-mq/.project
/matrix-rocket-mq/.classpath
/matrix-rocket-mq/.DS_Store


/matrix-rabbit-mq/target/
/matrix-rabbit-mq/.settings/
/matrix-rabbit-mq/.project
/matrix-rabbit-mq/.classpath
/matrix-rabbit-mq/.DS_Store


/matrix-mongodb/target/
/matrix-mongodb/.settings/
/matrix-mongodb/.project
/matrix-mongodb/.classpath
/matrix-mongodb/.DS_Store


/matrix-solr/target/
/matrix-solr/.settings/
/matrix-solr/.project
/matrix-solr/.classpath
/matrix-solr/.DS_Store


/.idea/
/matrix-distributed-framework.iml
/matrix-admin/matrix-admin.iml
/matrix-cache/matrix-cache.iml
/matrix-core/matrix-core.iml
/matrix-example/matrix-example.iml
/matrix-file/matrix-file.iml
/matrix-manager/matrix-manager.iml
/matrix-example/matrix-example.iml
/matrix-api/matrix-api.iml
/matrix-manager-api/matrix-manager-api.iml
/matrix-dubbo-admin/matrix-dubbo-admin.iml
/matrix-dubbo-monitor/matrix-dubbo-admin.iml
/matrix-route/matrix-route.iml
/matrix-quartz/matrix-quartz.iml
/matrix-fescar/matrix-fescar.iml
/matrix-rocket-mq/matrix-rocket-mq.iml
/matrix-rabbit-mq/matrix-rabbit-mq.iml
/matrix-mongodb/matrix-mongodb.iml
/matrix-solr/matrix-solr.iml

*.iml
















