/target/ 
/.settings/ 
/*.project
/.DS_Store
/distributed/

/matrix-core/target/
/matrix-core/.settings/
/matrix-core/.project 
/matrix-core/.classpath
/matrix-core/.DS_Store


/matrix-admin/target/
/matrix-admin/.settings/
/matrix-admin/.project 
/matrix-admin/.classpath
/matrix-admin/.DS_Store


/leader/target/
/leader/.settings/
/leader/.project 
/leader/.classpath
/leader/.DS_Store


/matrix-cache/target/
/matrix-cache/.settings/
/matrix-cache/.project 
/matrix-cache/.classpath
/matrix-cache/.DS_Store


/matrix-quartz/target/
/matrix-quartz/.settings/
/matrix-quartz/.project 
/matrix-quartz/.classpath
/matrix-quartz/.DS_Store


/matrix-manager-api/target/
/matrix-manager-api/.settings/
/matrix-manager-api/.project 
/matrix-manager-api/.classpath
/matrix-manager-api/.DS_Store


/matrix-api/target/
/matrix-api/.settings/
/matrix-api/.project 
/matrix-api/.classpath
/matrix-api/.DS_Store


/matrix-route/target/
/matrix-route/.settings/
/matrix-route/.project 
/matrix-route/.classpath
/matrix-route/.DS_Store


/matrix-permissions/target/
/matrix-permissions/.settings/
/matrix-permissions/.project 
/matrix-permissions/.classpath
/matrix-permissions/.DS_Store


/matrix-websocket/target/
/matrix-websocket/.settings/
/matrix-websocket/.project 
/matrix-websocket/.classpath
/matrix-websocket/.DS_Store


/matrix-dubbo/target/
/matrix-dubbo/.settings/
/matrix-dubbo/.project 
/matrix-dubbo/.classpath
/matrix-dubbo/.DS_Store


/.idea/
/matrix-distributed-framework.iml
/matrix-admin/matrix-admin.iml
/leader/matrix-admin.iml
/matrix-core/matrix-core.iml
/matrix-cache/matrix-cache.iml
/matrix-file/matrix-file.iml
/matrix-api/matrix-api.iml
/matrix-manager-api/matrix-manager-api.iml
/matrix-route/matrix-route.iml
/matrix-quartz/matrix-quartz.iml
/matrix-permissions/matrix-permissions.iml
/matrix-websocket/matrix-websocket.iml
/matrix-dubbo/matrix-dubbo.iml

*.iml
















