<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.matrix.dao.IMcOrganizationMapper">

    <!-- 基类字段映射 -->
    <resultMap id="BaseMap" type="com.matrix.base.BaseEntity">
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT"/>
        <result column="create_user_name" property="createUserName" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_user_id" property="updateUserId" jdbcType="BIGINT"/>
        <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
    </resultMap>

	<resultMap id="BaseResultMap" type="com.matrix.pojo.entity.McOrganization" extends="BaseMap">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="cid" property="cid" jdbcType="BIGINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="INTEGER" />
		<result column="platform" property="platform" jdbcType="VARCHAR" />
		<result column="manager_id" property="managerId" jdbcType="BIGINT" />
		<result column="manager_name" property="managerName" jdbcType="VARCHAR" />
		<result column="store_type" property="storeType" jdbcType="INTEGER" />
		<result column="seqnum" property="seqnum" jdbcType="INTEGER" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
	</resultMap>
	
	
	<sql id="base_column_list">
		id, 
		cid, 
		create_time, 
		create_user_id, 
		create_user_name, 
		update_time,
		update_user_id,
		update_user_name, 
		delete_flag, 
		name, 
		parent_id, 
		type, 
		platform, 
		manager_id,
		manager_name,
		store_type, 
		seqnum,
		mobile,
		address,
		remark
	</sql>
	
	<select id="find" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
			<include refid="base_column_list" />
		from 
			mc_organization
		where 
			id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="findEntityByDto" resultMap="BaseResultMap" parameterType="com.matrix.pojo.dto.McOrganizationDto">
		select
			<include refid="base_column_list" />
		from 
			mc_organization
		where 
			id = #{id,jdbcType=BIGINT}
	</select>
	
	
	<resultMap id="McOrganizationView" type="com.matrix.pojo.view.McOrganizationView">
		<result column="parent_id" property="parentId" jdbcType="BIGINT" />
		<result column="store_type" property="storeType" jdbcType="INTEGER" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
	</resultMap>
	<select id="findViewListByDto" resultMap="McOrganizationView" parameterType="com.matrix.pojo.dto.McOrganizationDto">
		select
			<include refid="base_column_list" />
		from 
			mc_organization
		where delete_flag = 1
			<if test="cid != null">
				and cid = #{cid,jdbcType=BIGINT}
			</if>
			<if test="name != null">
				and name = #{name,jdbcType=VARCHAR}
			</if>
			<if test="parentId != null">
				and parent_id = #{parentId,jdbcType=BIGINT}
			</if>
			<if test="type != null">
				and type = #{type,jdbcType=INTEGER}
			</if>
			order by parent_id,seqnum
	</select>

	<select id="findListByParentId" resultMap="BaseResultMap" parameterType="com.matrix.pojo.dto.McOrganizationDto">
		SELECT
			id,name
		FROM
			(
			SELECT
				t1.id,name,
			IF (
				find_in_set(parent_id, @pids) > 0,
				@pids := concat(@pids, ',', id),
				0
			) AS ischild
		FROM
			(
				SELECT
					id,
					name,
					parent_id
				FROM
					mc_organization t
				WHERE
					t.delete_flag = 1
				AND
					t.type = 3
				AND
					t.cid = #{cid,jdbcType=BIGINT}
				ORDER BY
					parent_id,
					id
			) t1,
			(
				SELECT
					@pids := #{parentId,jdbcType=BIGINT}
			) t2
	 	) t3
	   WHERE
	  ischild != 0
	</select>


	<delete id="deleteById" parameterType="java.lang.Long">
		delete from mc_organization where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="insertGotEntityId" parameterType="com.matrix.pojo.entity.McOrganization">
		<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
			select max(id) from mc_organization where cid = #{cid}
		</selectKey>
		insert into mc_organization
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="cid != null">
				cid,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUserId != null">
				create_user_id,
			</if>
			<if test="createUserName != null">
				create_user_name,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUserId != null">
				update_user_id,
			</if>
			<if test="updateUserName != null">
				update_user_name,
			</if>
			<if test="deleteFlag != null">
				delete_flag,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="platform != null">
				platform,
			</if>
			<if test="managerId != null">
				manager_id,
			</if>
			<if test="managerName != null">
				manager_name,
			</if>
			<if test="storeType != null">
				store_type,
			</if>
			<if test="seqnum != null">
				seqnum,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="remark != null">
				remark,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="cid != null">
				#{cid,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				#{createUserId,jdbcType=BIGINT},
			</if>
			<if test="createUserName != null">
				#{createUserName,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				#{updateUserId,jdbcType=BIGINT},
			</if>
			<if test="updateUserName != null">
				#{updateUserName,jdbcType=VARCHAR},
			</if>
			<if test="deleteFlag != null">
				#{deleteFlag,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=BIGINT},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="platform != null">
				#{platform,jdbcType=VARCHAR},
			</if>
			<if test="managerId != null">
				#{managerId,jdbcType=BIGINT},
			</if>
			<if test="managerName != null">
				#{managerName,jdbcType=VARCHAR},
			</if>
			<if test="storeType != null">
				#{storeType,jdbcType=INTEGER},
			</if>
			<if test="seqnum != null">
				#{seqnum,jdbcType=INTEGER},
			</if>
			<if test="mobile != null">
				#{mobile , jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address , jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	
	<update id="updateSelective" parameterType="com.matrix.pojo.entity.McOrganization">
		update mc_organization
		<set>
			<if test="cid != null">
				cid = #{cid,jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				create_user_id = #{createUserId,jdbcType=BIGINT},
			</if>
			<if test="createUserName != null">
				create_user_name = #{createUserName,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				update_user_id = #{updateUserId,jdbcType=BIGINT},
			</if>
			<if test="updateUserName != null">
				update_user_name = #{updateUserName,jdbcType=VARCHAR},
			</if>
			<if test="deleteFlag != null">
				delete_flag = #{deleteFlag,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=BIGINT},
			</if>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="platform != null">
				platform = #{platform,jdbcType=VARCHAR},
			</if>
			<if test="managerId != null">
				manager_id = #{managerId,jdbcType=BIGINT},
			</if>
			<if test="managerName != null">
				manager_name = #{managerName,jdbcType=VARCHAR},
			</if>
			<if test="storeType != null">
				store_type = #{storeType,jdbcType=INTEGER},
			</if>
			<if test="seqnum != null">
				seqnum = #{seqnum,jdbcType=INTEGER},
			</if>
			<if test="mobile != null">
				mobile = #{mobile ,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
</mapper>


























