<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.matrix.dao.IMcSysFunctionMapper">

	<!-- 基类字段映射 -->
	<resultMap id="BaseMap" type="com.matrix.base.BaseEntity"> 
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
		<result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
		<result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
		<result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap id="BaseResultMap" type="com.matrix.pojo.entity.McSysFunction" extends="BaseMap">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="authorize" property="authorize" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="parent_id" property="parentId" jdbcType="VARCHAR" />
		<result column="seqnum" property="seqnum" jdbcType="INTEGER" />
		<result column="nav_type" property="navType" jdbcType="INTEGER" />
		<result column="platform" property="platform" jdbcType="VARCHAR" />
		<result column="style_class" property="styleClass" jdbcType="VARCHAR" />
		<result column="style_key" property="styleKey" jdbcType="VARCHAR" />
		<result column="func_url" property="funcUrl" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="btn_area" property="btnArea" jdbcType="VARCHAR" />  
		<result column="ele_value" property="eleValue" jdbcType="VARCHAR" />  
	</resultMap>
	
	
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
			*
		from 
			mc_sys_function
		where 
			id = #{id , jdbcType=BIGINT}
	</select>
	
	<select id="find" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
			*
		from 
			mc_sys_function
		where 
			id = #{id , jdbcType=BIGINT}
	</select>
	
	
	<resultMap id="findListMap" type="com.matrix.pojo.view.McSysFunctionView" extends="BaseResultMap"></resultMap>
	<select id="findList" resultMap="findListMap" parameterType="com.matrix.pojo.entity.McSysFunction" >
	    select 
	    	* 
    	from 
    		mc_sys_function 
   		where 
   			delete_flag = 1
		<if test="platform != null">
			and platform = #{platform , jdbcType=VARCHAR}
		</if>
   		order by parent_id,seqnum
	</select>
	
	<select id="findListByDto" resultMap="findListMap" parameterType="com.matrix.pojo.dto.McSysFunctionDto" >
	    select 
	    	* 
    	from 
    		mc_sys_function 
   		where 
   			delete_flag = 1
		<if test="platform != null">
			and platform = #{platform , jdbcType=VARCHAR}
		</if>
		<if test="ids != null">
			and id in(${ids}) 
		</if>
   		order by parent_id,seqnum
	</select>
	
	
	<select id="getSysFuncList" resultMap="BaseResultMap" parameterType="com.matrix.pojo.entity.McSysFunction" >
	    select 
	    	* 
    	from 
    		mc_sys_function 
   		where  
			delete_flag = 1
			<if test="navType != null">
				and nav_type = #{navType , jdbcType=INTEGER}
			</if>
			<if test="authorize != null">
				and authorize = #{authorize , jdbcType=INTEGER}
			</if>
	</select>
	
	
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from mc_sys_function where id = #{id , jdbcType=BIGINT}
	</delete>
	
	<delete id="deleteByIds" parameterType="java.util.List">
		delete from mc_sys_function where id in
		<foreach collection="list" index="index" item="item" open="(" separator="," close=")">   
	        #{item}   
	    </foreach>
	</delete>
	
	<insert id="insertSelective" parameterType="com.matrix.pojo.entity.McSysFunction"  useGeneratedKeys="true" keyProperty="id">
		insert into mc_sys_function
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="authorize != null">
				authorize,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="parentId != null">
				parent_id,
			</if>
			<if test="seqnum != null">
				seqnum,
			</if>
			<if test="navType != null">
				nav_type,
			</if>
			<if test="platform != null">
				platform,
			</if>
			<if test="styleClass != null">
				style_class,
			</if>
			<if test="styleKey != null">
				style_key,
			</if>
			<if test="funcUrl != null">
				func_url,
			</if>
			<if test="remark != null">
				remark,
			</if> 
			<if test="eleValue != null">
				ele_value,
			</if>
			<if test="btnArea != null">
				btn_area,
			</if>
			
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUserId != null">
				create_user_id,
			</if>
			<if test="createUserName != null">
				create_user_name,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUserId != null">
				update_user_id,
			</if>
			<if test="updateUserName != null">
				update_user_name,
			</if>
			<if test="deleteFlag != null">
				delete_flag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id , jdbcType=BIGINT},
			</if>
			<if test="authorize != null">
				#{authorize , jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				#{parentId,jdbcType=VARCHAR},
			</if>
			<if test="seqnum != null">
				#{seqnum,jdbcType=INTEGER},
			</if>
			<if test="navType != null">
				#{navType,jdbcType=INTEGER},
			</if>
			<if test="platform != null">
				#{platform,jdbcType=VARCHAR},
			</if>
			<if test="styleClass != null">
				#{styleClass,jdbcType=VARCHAR},
			</if>
			<if test="styleKey != null">
				#{styleKey,jdbcType=VARCHAR},
			</if>
			<if test="funcUrl != null">
				#{funcUrl,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if> 
			<if test="eleValue != null">
				#{eleValue , jdbcType=VARCHAR}, 
			</if>
			<if test="btnArea != null">
				#{btnArea , jdbcType=VARCHAR}, 
			</if>
			
			<if test="createTime != null">
				#{createTime , jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				#{createUserId , jdbcType=BIGINT},
			</if>
			<if test="createUserName != null">
				#{createUserName , jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime , jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				#{updateUserId , jdbcType=BIGINT},
			</if>
			<if test="updateUserName != null">
				#{updateUserName , jdbcType=VARCHAR},
			</if>
			<if test="deleteFlag != null">
				#{deleteFlag , jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	
	<update id="updateSelective" parameterType="com.matrix.pojo.entity.McSysFunction">
		update mc_sys_function
		<set>
			<if test="authorize != null">
				authorize = #{authorize , jdbcType=INTEGER},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				parent_id = #{parentId,jdbcType=VARCHAR},
			</if>
			<if test="seqnum != null">
				seqnum = #{seqnum,jdbcType=INTEGER},
			</if>
			<if test="navType != null">
				nav_type = #{navType,jdbcType=INTEGER},
			</if>
			<if test="platform != null">
				platform = #{platform , jdbcType=VARCHAR},
			</if>
			<if test="styleClass != null">
				style_class = #{styleClass,jdbcType=VARCHAR},
			</if>
			<if test="styleKey != null">
				style_key = #{styleKey,jdbcType=VARCHAR},
			</if>
			<if test="funcUrl != null">
				func_url = #{funcUrl,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if> 
			<if test="eleValue != null">
				ele_value = #{eleValue , jdbcType=VARCHAR},
			</if>
			<if test="btnArea != null">
				btn_area = #{btnArea , jdbcType=VARCHAR},
			</if>
			
			<if test="updateTime != null">
				update_time = #{updateTime , jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				update_user_id = #{updateUserId , jdbcType=BIGINT},
			</if>
			<if test="updateUserName != null">
				update_user_name = #{updateUserName , jdbcType=VARCHAR},
			</if>
			<if test="deleteFlag != null">
				delete_flag = #{deleteFlag , jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id , jdbcType=BIGINT}
	</update>
</mapper>















