<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.matrix.dao.IMcUserInfoMapper">

	<!-- 基类字段映射 -->
	<resultMap id="BaseMap" type="com.matrix.base.BaseEntity"> 
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
		<result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
		<result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
		<result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap id="BaseResultMap" type="com.matrix.pojo.entity.McUserInfo" extends="BaseMap">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_name" property="userName" jdbcType="VARCHAR" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="platform" property="platform" jdbcType="VARCHAR" />
		<result column="flag" property="flag" jdbcType="INTEGER" />
		<result column="idcard" property="idcard" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="INTEGER" />
		<result column="birthday" property="birthday" jdbcType="DATE" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="qq" property="qq" jdbcType="VARCHAR" />
		<result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
		<result column="page_css" property="pageCss" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="LONGVARCHAR" />
	</resultMap>
	
	
	
	<resultMap id="McUserInfoViewMap" type="com.matrix.pojo.view.McUserInfoView"></resultMap>
	<select id="login" parameterType="com.matrix.pojo.entity.McUserInfo" resultMap="McUserInfoViewMap">
		select 
			i.id as id,
			i.user_name as userName,
			i.password as password,
			i.type as type,
			i.platform as platform,
			i.flag as flag,
			i.idcard as idcard,
			i.sex as sex,
			i.birthday as birthday,
			i.mobile as mobile,
			i.email as email,
			i.qq as qq,
			i.pic_url as picUrl,
			i.page_css as pageCss,
			i.remark as remark,
			i.create_time as createTime,
			i.delete_flag as deleteFlag
		from 
			mc_user_info i 
		where 
			i.user_name = #{userName} 
		and 
			i.password = #{password} 
		and
			i.delete_flag = 1
	</select>
	
	<select id="loadUserInfo" parameterType="java.lang.Long" resultMap="McUserInfoViewMap">
		select 
			i.id as id,
			i.user_name as userName,
			i.password as password,
			i.type as type,
			i.platform as platform,
			i.flag as flag,
			i.idcard as idcard,
			i.sex as sex,
			i.birthday as birthday,
			i.mobile as mobile,
			i.email as email,
			i.qq as qq,
			i.pic_url as picUrl,
			i.page_css as pageCss,
			i.remark as remark,
			i.create_time as createTime,
			i.delete_flag as deleteFlag
		from 
			mc_user_info i 
		where 
			i.delete_flag = 1 
		and
			i.id = #{id , jdbcType=BIGINT}  
	</select>
	
	<select id="loadUserInfoList"  resultMap="McUserInfoViewMap">
		select 
			i.id as id,
			i.user_name as userName,
			i.password as password,
			i.type as type,
			i.platform as platform,
			i.flag as flag,
			i.idcard as idcard,
			i.sex as sex,
			i.birthday as birthday,
			i.mobile as mobile,
			i.email as email,
			i.qq as qq,
			i.pic_url as picUrl,
			i.page_css as pageCss,
			i.remark as remark,
			i.create_time as createTime,
			i.delete_flag as deleteFlag
		from 
			mc_user_info i 
		where 
			i.delete_flag = 1  
	</select>
	
	<select id="find" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
			* 
		from 
			mc_user_info
		where 
			id = #{id , jdbcType=BIGINT} and delete_flag = 1
	</select>
	
	<select id="queryPage" parameterType="com.matrix.pojo.entity.McUserInfo" resultMap="BaseResultMap">
		select 
			* 
		from 
			mc_user_info 
		<where>
			delete_flag = 1  
			<if test="userName != null and userName != ''  ">
				and user_name = #{userName , jdbcType=VARCHAR}
			</if>
			<if test="mobile != null and mobile != ''  ">
				and mobile = #{mobile , jdbcType=VARCHAR}
			</if>
			<if test="sex != null and sex != ''  ">
				and sex = #{sex , jdbcType=INTEGER}
			</if>
			order by id desc
		</where>
	</select>
	
	<!-- 用户列表页数据展示 - Yangcl -->
	<select id="findPageList" parameterType="com.matrix.pojo.dto.McUserInfoDto" resultMap="McUserInfoViewMap">
		select 
			i.id as id,
			i.user_name as userName,
			i.password as password,
			i.type as type,
			i.platform as platform,
			i.flag as flag,
			i.idcard as idcard,
			i.sex as sex,
			i.birthday as birthday,
			i.mobile as mobile,
			i.email as email,
			i.qq as qq,
			i.pic_url as picUrl,
			i.page_css as pageCss,
			i.remark as remark,
			i.create_time as createTime,
			i.delete_flag as deleteFlag
		from 
			mc_user_info i 
		where
			i.delete_flag = 1  
			<if test="type != null">
				and i.type in(${type}) 
			</if>
			<if test="platform != null">
				and i.platform like  '%${platform}%'
			</if>
			<if test="userName != null and userName != ''  ">
				and i.user_name = #{userName , jdbcType=VARCHAR}
			</if>
			<if test="mobile != null and mobile != ''  ">
				and i.mobile = #{mobile , jdbcType=VARCHAR}
			</if>
			<if test="sex != null and sex != ''  ">
				and i.sex = #{sex , jdbcType=INTEGER}
			</if>
			order by id desc
	</select>
	
	<!-- 显示没有关联任何角色的用户列表 巧妙的左查询-->
	<select id="mcUserList" resultMap="BaseResultMap" parameterType="com.matrix.pojo.entity.McUserInfo">
		select 
		  * 
		from
		  `mc_user_info` info left join `mc_user_role` ur on info.id = ur.mc_user_id 
		where 
			ur.id is null and info.delete_flag = 1
	</select>
	
	<select id="findEntityByDto" resultMap="BaseResultMap" parameterType="com.matrix.pojo.dto.McUserInfoDto">
		select
			* 
		from 
			mc_user_info
		where 
			delete_flag = 1
			<if test="userName != null and userName != ''  ">
				and user_name = #{userName , jdbcType=VARCHAR}
			</if>
	</select>
	
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from mc_user_info where id = #{id , jdbcType=BIGINT}
	</delete>
	
	<insert id="insertSelective" parameterType="com.matrix.pojo.entity.McUserInfo">
		insert into mc_user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="platform != null">
				platform,
			</if>
			<if test="flag != null">
				flag,
			</if>
			<if test="idcard != null">
				idcard,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="qq != null">
				qq,
			</if>
			<if test="picUrl != null">
				pic_url,
			</if>
			<if test="pageCss != null">
				page_css,
			</if>
			<if test="remark != null">
				remark,
			</if>
			
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUserId != null">
				create_user_id,
			</if>
			<if test="createUserName != null">
				create_user_name,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUserId != null">
				update_user_id,
			</if>
			<if test="updateUserName != null">
				update_user_name,
			</if>
			<if test="deleteFlag != null">
				delete_flag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id , jdbcType=BIGINT},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type , jdbcType=VARCHAR},
			</if>
			<if test="platform != null">
				#{platform,jdbcType=VARCHAR},
			</if>
			<if test="flag != null">
				#{flag,jdbcType=INTEGER},
			</if>
			<if test="idcard != null">
				#{idcard,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=INTEGER},
			</if>
			<if test="birthday != null">
				#{birthday,jdbcType=DATE},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				#{qq,jdbcType=VARCHAR},
			</if>
			<if test="picUrl != null">
				#{picUrl,jdbcType=VARCHAR},
			</if>
			<if test="pageCss != null">
				#{pageCss,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=LONGVARCHAR},
			</if>
			
			<if test="createTime != null">
				#{createTime , jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				#{createUserId , jdbcType=BIGINT},
			</if>
			<if test="createUserName != null">
				#{createUserName , jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime , jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				#{updateUserId , jdbcType=BIGINT},
			</if>
			<if test="updateUserName != null">
				#{updateUserName , jdbcType=VARCHAR},
			</if>
			<if test="deleteFlag != null">
				#{deleteFlag , jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	<insert id="insertSelectiveGetZid" parameterType="com.matrix.pojo.entity.McUserInfo" useGeneratedKeys="true" keyProperty="id">
		insert into mc_user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userName != null">
				user_name,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="platform != null">
				platform,
			</if>			
			<if test="flag != null">
				flag,
			</if>
			<if test="idcard != null">
				idcard,
			</if>
			<if test="sex != null">
				sex,
			</if>
			<if test="birthday != null">
				birthday,
			</if>
			<if test="mobile != null">
				mobile,
			</if>
			<if test="email != null">
				email,
			</if>
			<if test="qq != null">
				qq,
			</if>
			<if test="picUrl != null">
				pic_url,
			</if>
			<if test="pageCss != null">
				page_css,
			</if>
			<if test="remark != null">
				remark,
			</if>
			
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUserId != null">
				create_user_id,
			</if>
			<if test="createUserName != null">
				create_user_name,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUserId != null">
				update_user_id,
			</if>
			<if test="updateUserName != null">
				update_user_name,
			</if>
			<if test="deleteFlag != null">
				delete_flag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id , jdbcType=BIGINT},
			</if>
			<if test="userName != null">
				#{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type , jdbcType=VARCHAR},
			</if>
			<if test="platform != null">
				#{platform,jdbcType=VARCHAR},
			</if>			
			<if test="flag != null">
				#{flag , jdbcType=INTEGER},
			</if>
			<if test="idcard != null">
				#{idcard,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				#{sex,jdbcType=INTEGER},
			</if>
			<if test="birthday != null">
				#{birthday,jdbcType=DATE},
			</if>
			<if test="mobile != null">
				#{mobile,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				#{qq,jdbcType=VARCHAR},
			</if>
			<if test="picUrl != null">
				#{picUrl,jdbcType=VARCHAR},
			</if>
			<if test="pageCss != null">
				#{pageCss,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=LONGVARCHAR},
			</if>
			
			<if test="createTime != null">
				#{createTime , jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				#{createUserId , jdbcType=BIGINT},
			</if>
			<if test="createUserName != null">
				#{createUserName , jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime , jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				#{updateUserId , jdbcType=BIGINT},
			</if>
			<if test="updateUserName != null">
				#{updateUserName , jdbcType=VARCHAR},
			</if>
			<if test="deleteFlag != null">
				#{deleteFlag , jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	<update id="updateSelective" parameterType="com.matrix.pojo.entity.McUserInfo">
		update mc_user_info
		<set>
			<if test="userName != null">
				user_name = #{userName,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if> 
			<if test="type != null">
				type = #{type,jdbcType=VARCHAR},
			</if>
			<if test="platform != null">
				platform = #{platform,jdbcType=VARCHAR},
			</if>
			<if test="flag != null">
				flag = #{flag,jdbcType=INTEGER},
			</if>
			<if test="idcard != null">
				idcard = #{idcard,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=INTEGER},
			</if>
			<if test="birthday != null">
				birthday = #{birthday,jdbcType=DATE},
			</if>
			<if test="mobile != null">
				mobile = #{mobile,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="qq != null">
				qq = #{qq,jdbcType=VARCHAR},
			</if>
			<if test="picUrl != null">
				pic_url = #{picUrl,jdbcType=VARCHAR},
			</if>
			<if test="pageCss != null">
				page_css = #{pageCss,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=LONGVARCHAR},
			</if>
			
			<if test="updateTime != null">
				update_time = #{updateTime , jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				update_user_id = #{updateUserId , jdbcType=BIGINT},
			</if>
			<if test="updateUserName != null">
				update_user_name = #{updateUserName , jdbcType=VARCHAR},
			</if>
			<if test="deleteFlag != null">
				delete_flag = #{deleteFlag , jdbcType=INTEGER},
			</if>
			
		</set>
		where id = #{id , jdbcType=BIGINT}
	</update>
</mapper>







