<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.matrix.dao.ICompanyInfoMapper">

    <!-- 基类字段映射 -->
    <resultMap id="BaseMap" type="com.matrix.base.BaseEntity">
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT"/>
        <result column="create_user_name" property="createUserName" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_user_id" property="updateUserId" jdbcType="BIGINT"/>
        <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="BaseResultMap" type="com.matrix.pojo.entity.CompanyInfo" extends="BaseMap">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="intro" property="intro" jdbcType="VARCHAR"/>
        <result column="business" property="business" jdbcType="VARCHAR"/>
        <result column="business_license" property="businessLicense" jdbcType="VARCHAR"/>
        <result column="key_word" property="keyWord" jdbcType="VARCHAR"/>
        <result column="logo" property="logo" jdbcType="VARCHAR"/>
        <result column="office_phone" property="officePhone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="lease_ccessories" property="leaseCcessories" jdbcType="VARCHAR"/>
        <result column="contact_person" property="contactPerson" jdbcType="VARCHAR"/>
        <result column="contact_person_phone" property="contactPersonPhone" jdbcType="VARCHAR"/>
        <result column="contact_person_position" property="contactPersonPosition" jdbcType="VARCHAR"/>
        <result column="contact_person_address" property="contactPersonAddress" jdbcType="VARCHAR"/>
        <result column="sms_num" property="smsNum" jdbcType="INTEGER"/>
        <result column="sms_recharge" property="smsRecharge" jdbcType="INTEGER"/>
        <result column="sms_threshold" property="smsThreshold" jdbcType="INTEGER"/>
        <result column="dict_vocation_info_id" property="dictVocationInfoId" jdbcType="BIGINT"/>
        <result column="wechat_auth" property="wechatAuth" jdbcType="INTEGER"/>
        <result column="unified_social_credit_code" property="unifiedSocialCreditCode" jdbcType="VARCHAR"/>
        <result column="registered_capital" property="registeredCapital" jdbcType="INTEGER"/>
        <result column="registration_authority" property="registrationAuthority" jdbcType="VARCHAR"/>
        <result column="establish_time" property="establishTime" jdbcType="TIMESTAMP"/>
        <result column="company_type" property="companyType" jdbcType="VARCHAR"/>
        <result column="remark" property="remark" jdbcType="LONGVARCHAR"/>
        <result column="system_name" property="systemName" jdbcType="VARCHAR"/>
        <result column="login_background" property="loginBackground" jdbcType="VARCHAR"/>
    </resultMap>
<resultMap id="CompanyInfoView" type="com.matrix.pojo.view.CompanyInfoView" extends="BaseResultMap">
</resultMap>
    <sql id="Base_Column_List">
        id,
        create_time,
        create_user_id,
        create_user_name,
        update_time,
        update_user_id,
        update_user_name,
        delete_flag,
        NAME,
        intro,
        business,
        business_license,
        key_word,
        logo,
        office_phone,
        address,
        type,
        lease_ccessories,
        contact_person,
        contact_person_phone,
        contact_person_position,
        contact_person_address,
        sms_num,
        sms_recharge,
        sms_threshold,
        dict_vocation_info_id,
        wechat_auth,
        unified_social_credit_code,
        registered_capital,
        registration_authority,
        establish_time,
        company_type,
        remark,
        system_name,
        login_background
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
            <include refid="Base_Column_List"/>
        from
            company_info
        where
            id = #{id,jdbcType=BIGINT}
    </select>
    
    
    
    <select id="findList" resultMap="BaseResultMap" parameterType="com.matrix.pojo.entity.CompanyInfo">
        select
            <include refid="Base_Column_List"/>
        from
            company_info
        where
            delete_flag = 1
    </select>
    
    <select id="find" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
            <include refid="Base_Column_List"/>
        from
            company_info
        where
			id = #{id , jdbcType=BIGINT}
    </select>
    
	<select id="pageListByDto" parameterType="com.matrix.pojo.dto.CompanyInfoDto" resultMap="BaseResultMap">
		select  * from  company_info
		where
            delete_flag = 1
            <if test="id != null">
                 and id = #{id,jdbcType=BIGINT}
            </if>
           <if test="name != null  and name !=''">
			and name like concat('%',#{name,jdbcType=VARCHAR},'%')
			</if>
            <if test="contactPerson != null and contactPerson !='' ">
                 and contact_person = #{contactPerson,jdbcType=VARCHAR}
            </if>
            order by create_time desc
	</select>
	
    
    

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from company_info
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertGotEntityId" parameterType="com.matrix.pojo.entity.CompanyInfo" useGeneratedKeys="true" keyProperty="id">
        insert into company_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="createUserId != null">
                create_user_id,
            </if>
            <if test="createUserName != null">
                create_user_name,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="updateUserId != null">
                update_user_id,
            </if>
            <if test="updateUserName != null">
                update_user_name,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="intro != null">
                intro,
            </if>
            <if test="business != null">
                business,
            </if>
            <if test="businessLicense != null">
                business_license,
            </if>
            <if test="keyWord != null">
                key_word,
            </if>
            <if test="logo != null">
                logo,
            </if>
            <if test="officePhone != null">
                office_phone,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="leaseCcessories != null">
                lease_ccessories,
            </if>
            <if test="contactPerson != null">
                contact_person,
            </if>
            <if test="contactPersonPhone != null">
                contact_person_phone,
            </if>
            <if test="contactPersonPosition != null">
                contact_person_position,
            </if>
            <if test="contactPersonAddress != null">
                contact_person_address,
            </if>
            <if test="smsNum != null">
                sms_num,
            </if>
            <if test="smsRecharge != null">
                sms_recharge,
            </if>
            <if test="smsThreshold != null">
                sms_threshold,
            </if>
            <if test="dictVocationInfoId != null">
                dict_vocation_info_id,
            </if>
            <if test="wechatAuth != null">
                wechat_auth,
            </if>
            <if test="unifiedSocialCreditCode != null">
                unified_social_credit_code,
            </if>
            <if test="registeredCapital != null">
                registered_capital,
            </if>
            <if test="registrationAuthority != null">
                registration_authority,
            </if>
            <if test="establishTime != null">
                establish_time,
            </if>
            <if test="companyType != null">
                company_type,
            </if>
            <if test="remark != null">
                remark,
            </if>
               <if test="systemName != null">
                system_name,
            </if>
            <if test="loginBackground != null">
                login_background
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="createUserId != null">
                #{createUserId,jdbcType=BIGINT},
            </if>
            <if test="createUserName != null">
                #{createUserName,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="updateUserName != null">
                #{updateUserName,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="intro != null">
                #{intro,jdbcType=VARCHAR},
            </if>
            <if test="business != null">
                #{business,jdbcType=VARCHAR},
            </if>
            <if test="businessLicense != null">
                #{businessLicense,jdbcType=VARCHAR},
            </if>
            <if test="keyWord != null">
                #{keyWord,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                #{logo,jdbcType=VARCHAR},
            </if>
            <if test="officePhone != null">
                #{officePhone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="leaseCcessories != null">
                #{leaseCcessories,jdbcType=VARCHAR},
            </if>
            <if test="contactPerson != null">
                #{contactPerson,jdbcType=VARCHAR},
            </if>
            <if test="contactPersonPhone != null">
                #{contactPersonPhone,jdbcType=VARCHAR},
            </if>
            <if test="contactPersonPosition != null">
                #{contactPersonPosition,jdbcType=VARCHAR},
            </if>
            <if test="contactPersonAddress != null">
                #{contactPersonAddress,jdbcType=VARCHAR},
            </if>
            <if test="smsNum != null">
                #{smsNum,jdbcType=INTEGER},
            </if>
            <if test="smsRecharge != null">
                #{smsRecharge,jdbcType=INTEGER},
            </if>
            <if test="smsThreshold != null">
                #{smsThreshold,jdbcType=INTEGER},
            </if>
            <if test="dictVocationInfoId != null">
                #{dictVocationInfoId,jdbcType=BIGINT},
            </if>
            <if test="wechatAuth != null">
                #{wechatAuth,jdbcType=INTEGER},
            </if>
            <if test="unifiedSocialCreditCode != null">
                #{unifiedSocialCreditCode,jdbcType=VARCHAR},
            </if>
            <if test="registeredCapital != null">
                #{registeredCapital,jdbcType=INTEGER},
            </if>
            <if test="registrationAuthority != null">
                #{registrationAuthority,jdbcType=VARCHAR},
            </if>
            <if test="establishTime != null">
                #{establishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="companyType != null">
                #{companyType,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=LONGVARCHAR},
            </if>
              <if test="systemName != null">
                #{systemName,jdbcType=VARCHAR},
            </if>
            <if test="loginBackground != null">
                #{loginBackground,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

	<update id="updateSelectiveByDto" parameterType="com.matrix.pojo.dto.CompanyInfoDto">
        update company_info
        <set>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="updateUserName != null">
                update_user_name = #{updateUserName,jdbcType=VARCHAR},
            </if>
            <if test="systemName != null">
                system_name = #{systemName,jdbcType=VARCHAR},
            </if>
            <if test="loginBackground != null">
                login_background = #{loginBackground,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
               logo = #{logo,jdbcType=VARCHAR}
            </if>
          
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>







    <update id="updateSelective" parameterType="com.matrix.pojo.entity.CompanyInfo">
        update company_info
        <set>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUserId != null">
                update_user_id = #{updateUserId,jdbcType=BIGINT},
            </if>
            <if test="updateUserName != null">
                update_user_name = #{updateUserName,jdbcType=VARCHAR},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="intro != null">
                intro = #{intro,jdbcType=VARCHAR},
            </if>
            <if test="business != null">
                business = #{business,jdbcType=VARCHAR},
            </if>
            <if test="businessLicense != null">
                business_license = #{businessLicense,jdbcType=VARCHAR},
            </if>
            <if test="keyWord != null">
                key_word = #{keyWord,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                logo = #{logo,jdbcType=VARCHAR},
            </if>
            <if test="officePhone != null">
                office_phone = #{officePhone,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="leaseCcessories != null">
                lease_ccessories = #{leaseCcessories,jdbcType=VARCHAR},
            </if>
            <if test="contactPerson != null">
                contact_person = #{contactPerson,jdbcType=VARCHAR},
            </if>
            <if test="contactPersonPhone != null">
                contact_person_phone = #{contactPersonPhone,jdbcType=VARCHAR},
            </if>
            <if test="contactPersonPosition != null">
                contact_person_position = #{contactPersonPosition,jdbcType=VARCHAR},
            </if>
            <if test="contactPersonAddress != null">
                contact_person_address = #{contactPersonAddress,jdbcType=VARCHAR},
            </if>
            <if test="smsNum != null">
                sms_num = #{smsNum,jdbcType=INTEGER},
            </if>
            <if test="smsRecharge != null">
                sms_recharge = #{smsRecharge,jdbcType=INTEGER},
            </if>
            <if test="smsThreshold != null">
                sms_threshold = #{smsThreshold,jdbcType=INTEGER},
            </if>
            <if test="dictVocationInfoId != null">
                dict_vocation_info_id = #{dictVocationInfoId,jdbcType=BIGINT},
            </if>
            <if test="wechatAuth != null">
                wechat_auth = #{wechatAuth,jdbcType=INTEGER},
            </if>
            <if test="unifiedSocialCreditCode != null">
                unified_social_credit_code = #{unifiedSocialCreditCode,jdbcType=VARCHAR},
            </if>
            <if test="registeredCapital != null">
                registered_capital = #{registeredCapital,jdbcType=INTEGER},
            </if>
            <if test="registrationAuthority != null">
                registration_authority = #{registrationAuthority,jdbcType=VARCHAR},
            </if>
            <if test="establishTime != null">
                establish_time = #{establishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="companyType != null">
                company_type = #{companyType,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=LONGVARCHAR},
            </if>
              <if test="systemName != null">
                system_name = #{systemName,jdbcType=VARCHAR},
            </if>
            <if test="loginBackground != null">
                login_background = #{loginBackground,jdbcType=VARCHAR}
            </if>
          
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <!--公司信息分页查询 -->
    <select id="queryPageByDto" resultMap="BaseResultMap" parameterType="com.matrix.pojo.dto.CompanyInfoDto">
        select
            <include refid="Base_Column_List"/>
        from
            company_info
        where
            delete_flag = 1
            <if test="id != null">
                 and id = #{id,jdbcType=BIGINT}
            </if>

    </select>
    
    <select id="findViewByDto" resultMap="CompanyInfoView" parameterType="com.matrix.pojo.dto.CompanyInfoDto">
        select
            <include refid="Base_Column_List"/>
        from
            company_info
        where
            delete_flag = 1
            <if test="id != null">
                 and id = #{id,jdbcType=BIGINT}
            </if>

    </select>



</mapper>