<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.matrix.dao.ICompanyAgeGroupMapper" >
  
  	<!-- 基类字段映射 -->
    <resultMap id="BaseMap" type="com.matrix.base.BaseEntity">
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="BIGINT"/>
        <result column="create_user_name" property="createUserName" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="update_user_id" property="updateUserId" jdbcType="BIGINT"/>
        <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
    </resultMap>
    
    
  <resultMap id="BaseResultMap" type="com.matrix.pojo.entity.CompanyAgeGroup" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="cid" property="cid" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="start_age" property="startAge" jdbcType="INTEGER" />
    <result column="end_age" property="endAge" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, cid, create_time, create_user_id, create_user_name, update_time, update_user_id, 
    update_user_name, delete_flag, name, start_age, end_age
  </sql>
  
  <insert id="batchInsert" parameterType="java.util.List">
		insert into company_age_group(
		 cid,
		 create_time, 
      	 create_user_id,
      	 create_user_name,
      	 update_time, 
      	 update_user_id,
         update_user_name,
      	 start_age,
      	 end_age, 
      	 name)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(
		#{item.cid,jdbcType=BIGINT},
		#{item.createTime,jdbcType=TIMESTAMP}, 
     	#{item.createUserId,jdbcType=BIGINT},
       	#{item.createUserName,jdbcType=VARCHAR}, 
       	#{item.updateTime,jdbcType=TIMESTAMP}, 
      	#{item.updateUserId,jdbcType=BIGINT},
      	#{item.updateUserName,jdbcType=VARCHAR},
     	#{item.startAge,jdbcType=INTEGER},
     	#{item.endAge,jdbcType=INTEGER},
      	#{item.name,jdbcType=VARCHAR})
		</foreach>
	</insert>
	
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from company_age_group
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  	
  <select id="findList" resultMap="BaseResultMap" parameterType="com.matrix.pojo.entity.CompanyAgeGroup" >
    select 
    <include refid="Base_Column_List" />
    from company_age_group
     where delete_flag = 1  and cid = #{cid,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from company_age_group
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  
  <insert id="insertSelective" parameterType="com.matrix.pojo.entity.CompanyAgeGroup" >
    insert into company_age_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateUserName != null" >
        update_user_name,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="startAge != null" >
        start_age,
      </if>
      <if test="endAge != null" >
        end_age,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserName != null" >
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="startAge != null" >
        #{startAge,jdbcType=INTEGER},
      </if>
      <if test="endAge != null" >
        #{endAge,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateSelective" parameterType="com.matrix.pojo.entity.CompanyAgeGroup" >
    update company_age_group
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserName != null" >
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="startAge != null" >
        start_age = #{startAge,jdbcType=INTEGER},
      </if>
      <if test="endAge != null" >
        end_age = #{endAge,jdbcType=INTEGER},
      </if>
    </set>
    where cid = #{cid,jdbcType=BIGINT}
  </update>
  
</mapper>