<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.matrix.dao.IMcUserInfoExtMapper">

	<!-- 基类字段映射 -->
	<resultMap id="BaseMap" type="com.matrix.base.BaseEntity"> 
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
		<result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
		<result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
		<result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap id="BaseResultMap" type="com.matrix.pojo.entity.McUserInfoExt" extends="BaseMap">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="user_info_id" property="userInfoId" jdbcType="BIGINT" />
		<result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
		<result column="page_css" property="pageCss" jdbcType="VARCHAR" />
		<result column="platform" property="platform" jdbcType="VARCHAR" />
		
		<result column="parama" property="parama" jdbcType="VARCHAR" />
		<result column="paramb" property="paramb" jdbcType="VARCHAR" />
		<result column="paramc" property="paramc" jdbcType="VARCHAR" />
		<result column="paramd" property="paramd" jdbcType="VARCHAR" />
		<result column="parame" property="parame" jdbcType="VARCHAR" />
		<result column="paramf" property="paramf" jdbcType="VARCHAR" />
		<result column="paramg" property="paramg" jdbcType="VARCHAR" />
		<result column="paramh" property="paramh" jdbcType="VARCHAR" />
		<result column="parami" property="parami" jdbcType="VARCHAR" />
		<result column="paramj" property="paramj" jdbcType="VARCHAR" />
		<result column="paramk" property="paramk" jdbcType="VARCHAR" />
		<result column="paraml" property="paraml" jdbcType="VARCHAR" />
		<result column="paramm" property="paramm" jdbcType="VARCHAR" />
		<result column="paramn" property="paramn" jdbcType="VARCHAR" />
		<result column="paramo" property="paramo" jdbcType="VARCHAR" />
		<result column="paramp" property="paramp" jdbcType="VARCHAR" />
		<result column="paramq" property="paramq" jdbcType="VARCHAR" />
		<result column="paramr" property="paramr" jdbcType="VARCHAR" />
		<result column="params" property="params" jdbcType="VARCHAR" />
		<result column="paramt" property="paramt" jdbcType="VARCHAR" />
	</resultMap>
	
	
	
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
			*
		from 
			mc_user_info_ext
		where 
			id = #{id,jdbcType=BIGINT}
	</select>
	
	
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from mc_user_info_ext where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<delete id="deleteByUserId" parameterType="java.lang.Long">
		delete from mc_user_info_ext where user_info_id = #{id , jdbcType=BIGINT}
	</delete>
	
	
	<insert id="insertSelective" parameterType="com.matrix.pojo.entity.McUserInfoExt">
		insert into mc_user_info_ext
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="userInfoId != null">
				user_info_id,
			</if>
			<if test="picUrl != null">
				pic_url,
			</if>
			<if test="pageCss != null">
				page_css,
			</if>
			<if test="platform != null">
				platform,
			</if>
			<if test="parama != null">
				parama,
			</if>
			<if test="paramb != null">
				paramb,
			</if>
			<if test="paramc != null">
				paramc,
			</if>
			<if test="paramd != null">
				paramd,
			</if>
			<if test="parame != null">
				parame,
			</if>
			<if test="paramf != null">
				paramf,
			</if>
			<if test="paramg != null">
				paramg,
			</if>
			<if test="paramh != null">
				paramh,
			</if>
			<if test="parami != null">
				parami,
			</if>
			<if test="paramj != null">
				paramj,
			</if>
			<if test="paramk != null">
				paramk,
			</if>
			<if test="paraml != null">
				paraml,
			</if>
			<if test="paramm != null">
				paramm,
			</if>
			<if test="paramn != null">
				paramn,
			</if>
			<if test="paramo != null">
				paramo,
			</if>
			<if test="paramp != null">
				paramp,
			</if>
			<if test="paramq != null">
				paramq,
			</if>
			<if test="paramr != null">
				paramr,
			</if>
			<if test="params != null">
				params,
			</if>
			<if test="paramt != null">
				paramt,
			</if>
			
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUserId != null">
				create_user_id,
			</if>
			<if test="createUserName != null">
				create_user_name,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUserId != null">
				update_user_id,
			</if>
			<if test="updateUserName != null">
				update_user_name,
			</if>
			<if test="deleteFlag != null">
				delete_flag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="userInfoId != null">
				#{userInfoId,jdbcType=BIGINT},
			</if>
			<if test="picUrl != null">
				#{picUrl,jdbcType=VARCHAR},
			</if>
			<if test="pageCss != null">
				#{pageCss,jdbcType=VARCHAR},
			</if>
			<if test="platform != null">
				#{platform,jdbcType=VARCHAR},
			</if>
			<if test="parama != null">
				#{parama,jdbcType=VARCHAR},
			</if>
			<if test="paramb != null">
				#{paramb,jdbcType=VARCHAR},
			</if>
			<if test="paramc != null">
				#{paramc,jdbcType=VARCHAR},
			</if>
			<if test="paramd != null">
				#{paramd,jdbcType=VARCHAR},
			</if>
			<if test="parame != null">
				#{parame,jdbcType=VARCHAR},
			</if>
			<if test="paramf != null">
				#{paramf,jdbcType=VARCHAR},
			</if>
			<if test="paramg != null">
				#{paramg,jdbcType=VARCHAR},
			</if>
			<if test="paramh != null">
				#{paramh,jdbcType=VARCHAR},
			</if>
			<if test="parami != null">
				#{parami,jdbcType=VARCHAR},
			</if>
			<if test="paramj != null">
				#{paramj,jdbcType=VARCHAR},
			</if>
			<if test="paramk != null">
				#{paramk,jdbcType=VARCHAR},
			</if>
			<if test="paraml != null">
				#{paraml,jdbcType=VARCHAR},
			</if>
			<if test="paramm != null">
				#{paramm,jdbcType=VARCHAR},
			</if>
			<if test="paramn != null">
				#{paramn,jdbcType=VARCHAR},
			</if>
			<if test="paramo != null">
				#{paramo,jdbcType=VARCHAR},
			</if>
			<if test="paramp != null">
				#{paramp,jdbcType=VARCHAR},
			</if>
			<if test="paramq != null">
				#{paramq,jdbcType=VARCHAR},
			</if>
			<if test="paramr != null">
				#{paramr,jdbcType=VARCHAR},
			</if>
			<if test="params != null">
				#{params,jdbcType=VARCHAR},
			</if>
			<if test="paramt != null">
				#{paramt,jdbcType=VARCHAR},
			</if>
			
			<if test="createTime != null">
				#{createTime , jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				#{createUserId , jdbcType=BIGINT},
			</if>
			<if test="createUserName != null">
				#{createUserName , jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime , jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				#{updateUserId , jdbcType=BIGINT},
			</if>
			<if test="updateUserName != null">
				#{updateUserName , jdbcType=VARCHAR},
			</if>
			<if test="deleteFlag != null">
				#{deleteFlag , jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	
	<update id="updateSelective" parameterType="com.matrix.pojo.entity.McUserInfoExt">
		update mc_user_info_ext
		<set>
			<if test="picUrl != null">
				pic_url = #{picUrl,jdbcType=VARCHAR},
			</if>
			<if test="pageCss != null">
				page_css = #{pageCss,jdbcType=VARCHAR},
			</if>
			<if test="platform != null">
				platform = #{platform,jdbcType=VARCHAR},
			</if>
			
			
			<if test="parama != null">
				parama = #{parama,jdbcType=VARCHAR},
			</if>
			<if test="paramb != null">
				paramb = #{paramb,jdbcType=VARCHAR},
			</if>
			<if test="paramc != null">
				paramc = #{paramc,jdbcType=VARCHAR},
			</if>
			<if test="paramd != null">
				paramd = #{paramd,jdbcType=VARCHAR},
			</if>
			<if test="parame != null">
				parame = #{parame,jdbcType=VARCHAR},
			</if>
			<if test="paramf != null">
				paramf = #{paramf,jdbcType=VARCHAR},
			</if>
			<if test="paramg != null">
				paramg = #{paramg,jdbcType=VARCHAR},
			</if>
			<if test="paramh != null">
				paramh = #{paramh,jdbcType=VARCHAR},
			</if>
			<if test="parami != null">
				parami = #{parami,jdbcType=VARCHAR},
			</if>
			<if test="paramj != null">
				paramj = #{paramj,jdbcType=VARCHAR},
			</if>
			<if test="paramk != null">
				paramk = #{paramk,jdbcType=VARCHAR},
			</if>
			<if test="paraml != null">
				paraml = #{paraml,jdbcType=VARCHAR},
			</if>
			<if test="paramm != null">
				paramm = #{paramm,jdbcType=VARCHAR},
			</if>
			<if test="paramn != null">
				paramn = #{paramn,jdbcType=VARCHAR},
			</if>
			<if test="paramo != null">
				paramo = #{paramo,jdbcType=VARCHAR},
			</if>
			<if test="paramp != null">
				paramp = #{paramp,jdbcType=VARCHAR},
			</if>
			<if test="paramq != null">
				paramq = #{paramq,jdbcType=VARCHAR},
			</if>
			<if test="paramr != null">
				paramr = #{paramr,jdbcType=VARCHAR},
			</if>
			<if test="params != null">
				params = #{params,jdbcType=VARCHAR},
			</if>
			<if test="paramt != null">
				paramt = #{paramt,jdbcType=VARCHAR},
			</if>
			
			<if test="updateTime != null">
				update_time = #{updateTime , jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				update_user_id = #{updateUserId , jdbcType=BIGINT},
			</if>
			<if test="updateUserName != null">
				update_user_name = #{updateUserName , jdbcType=VARCHAR},
			</if>
			<if test="deleteFlag != null">
				delete_flag = #{deleteFlag , jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	
	
	<update id="updateSelectiveByUserId" parameterType="com.matrix.pojo.entity.McUserInfoExt">
		update mc_user_info_ext
		<set>
			<if test="picUrl != null">
				pic_url = #{picUrl,jdbcType=VARCHAR},
			</if>
			<if test="pageCss != null">
				page_css = #{pageCss,jdbcType=VARCHAR},
			</if>
			<if test="platform != null">
				platform = #{platform,jdbcType=VARCHAR},
			</if>
			
			<if test="parama != null">
				parama = #{parama,jdbcType=VARCHAR},
			</if>
			<if test="paramb != null">
				paramb = #{paramb,jdbcType=VARCHAR},
			</if>
			<if test="paramc != null">
				paramc = #{paramc,jdbcType=VARCHAR},
			</if>
			<if test="paramd != null">
				paramd = #{paramd,jdbcType=VARCHAR},
			</if>
			
			<if test="updateTime != null">
				update_time = #{updateTime , jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				update_user_id = #{updateUserId , jdbcType=BIGINT},
			</if>
			<if test="updateUserName != null">
				update_user_name = #{updateUserName , jdbcType=VARCHAR},
			</if>
			<if test="deleteFlag != null">
				delete_flag = #{deleteFlag , jdbcType=INTEGER},
			</if>
		</set>
		where 
			user_info_id =  #{userInfoId , jdbcType=BIGINT}
	</update>
	
</mapper>













