<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.matrix.dao.ISysTableOpreateRecordMapper">

	<!-- 基类字段映射 -->
	<resultMap id="BaseMap" type="com.matrix.base.BaseEntity"> 
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
		<result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
		<result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
		<result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap id="BaseResultMap" type="com.matrix.pojo.entity.SysTableOpreateRecord" extends="BaseMap">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="cid" property="cid" jdbcType="BIGINT" />
		<result column="mdvalue" property="mdvalue" jdbcType="VARCHAR" />
		<result column="zid" property="zid" jdbcType="BIGINT" />
		<result column="table_name" property="tableName" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="base_column_list">
		id, 
		cid, 
		mdvalue, 
		zid,
		table_name,
		create_time, 
		create_user_id, 
		create_user_name,
		update_time, 
		update_user_id,
		update_user_name, 
		delete_flag
	</sql>
	
	<select id="find" resultMap="BaseResultMap" parameterType="java.lang.Long">
		select
			<include refid="base_column_list" />
		from 
			sys_table_opreate_record
		where 
			id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="findByMdvalue" resultMap="BaseResultMap" parameterType="com.matrix.pojo.entity.SysTableOpreateRecord">
		select
			<include refid="base_column_list" />
		from 
			sys_table_opreate_record
		where 
			mdvalue = #{mdvalue , jdbcType=VARCHAR} 
		and 
				cid = #{cid,jdbcType=BIGINT}	
		and 
				table_name = #{tableName,jdbcType=VARCHAR}
		limit 1
	</select>
	
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from sys_table_opreate_record where id = #{id,jdbcType=BIGINT}
	</delete>
	
	<delete id="deleteByMdvalue" parameterType="com.matrix.pojo.entity.SysTableOpreateRecord">
		delete from 
			sys_table_opreate_record 
		where 
			mdvalue = #{mdvalue , jdbcType=VARCHAR}
		and 
				cid = #{cid,jdbcType=BIGINT}
	</delete>
	
	<insert id="insertSelective" parameterType="com.matrix.pojo.entity.SysTableOpreateRecord">
		insert into sys_table_opreate_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="cid != null">
				cid,
			</if>
			<if test="mdvalue != null">
				mdvalue,
			</if>
			<if test="zid != null">
				zid,
			</if>
			<if test="tableName != null">
				table_name,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="createUserId != null">
				create_user_id,
			</if>
			<if test="createUserName != null">
				create_user_name,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="updateUserId != null">
				update_user_id,
			</if>
			<if test="updateUserName != null">
				update_user_name,
			</if>
			<if test="deleteFlag != null">
				delete_flag,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="cid != null">
				#{cid,jdbcType=BIGINT},
			</if>
			<if test="mdvalue != null">
				#{mdvalue,jdbcType=VARCHAR},
			</if>
			<if test="zid != null">
				#{zid,jdbcType=BIGINT},
			</if>
			<if test="tableName != null">
				#{tableName,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createUserId != null">
				#{createUserId,jdbcType=BIGINT},
			</if>
			<if test="createUserName != null">
				#{createUserName,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				#{updateUserId,jdbcType=BIGINT},
			</if>
			<if test="updateUserName != null">
				#{updateUserName,jdbcType=VARCHAR},
			</if>
			<if test="deleteFlag != null">
				#{deleteFlag,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	<update id="updateSelective" parameterType="com.matrix.pojo.entity.SysTableOpreateRecord">
		update sys_table_opreate_record
		<set>
			<if test="mdvalue != null">
				mdvalue = #{mdvalue,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				update_user_id = #{updateUserId,jdbcType=BIGINT},
			</if>
			<if test="updateUserName != null">
				update_user_name = #{updateUserName,jdbcType=VARCHAR},
			</if>
			<if test="deleteFlag != null">
				delete_flag = #{deleteFlag,jdbcType=INTEGER},
			</if>
		</set>
		where 
			delete_flag = 1
		and 
			cid = #{cid,jdbcType=BIGINT}
		<if test="id != null">
			and id = #{id,jdbcType=BIGINT}
		</if>
		<if test="tableName != null and tableName !='' ">
			and 
				table_name = #{tableName,jdbcType=VARCHAR}
			and
				zid = #{zid,jdbcType=BIGINT}
		</if>
	</update>
	
	
	<update id="updateZid" parameterType="com.matrix.pojo.entity.SysTableOpreateRecord">
		update sys_table_opreate_record
		<set>
			<if test="zid != null">
				zid = #{zid,jdbcType=BIGINT},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				update_user_id = #{updateUserId,jdbcType=BIGINT},
			</if>
			<if test="updateUserName != null">
				update_user_name = #{updateUserName,jdbcType=VARCHAR},
			</if>
		</set>
		where 
			delete_flag = 1
		and 
			cid = #{cid,jdbcType=BIGINT}
		and 
			mdvalue = #{mdvalue,jdbcType=VARCHAR}
		and 
			table_name = #{tableName,jdbcType=VARCHAR}
	</update>
</mapper>






























