<?xml version="1.0" encoding="UTF-8"?>    
<beans xmlns="http://www.springframework.org/schema/beans"    
	xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:p="http://www.springframework.org/schema/p"  
    xmlns:aop="http://www.springframework.org/schema/aop"   
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:jee="http://www.springframework.org/schema/jee"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="    
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd  
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.3.xsd  
        http://www.springframework.org/schema/jee 
        http://www.springframework.org/schema/jee/spring-jee-4.3.xsd  
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">    

	<!-- 使用注解的包，包括子集  此处迁移至applicationContext.xml中会导致controller404，必须在此处扫描 -->
	<context:component-scan base-package="com.matrix.controller" />

	<!-- 视图解析器 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/" />
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!--  配置页面拦截器，需要加入如下引用
			 xmlns:mvc="http://www.springframework.org/schema/mvc"
			 xsi:schemaLocation="
			 	http://www.springframework.org/schema/mvc
				http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd"	
				
				<mvc:mapping path="/**"/>  /**的意思是所有文件夹及里面的子文件夹|/*是所有文件夹，不含子文件夹|/是web项目的根目录
	 -->
 	<mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean id="urlInterceptor" class="com.matrix.system.UrlInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    
    
    <!-- Spring mvc 返回json格式 -->
    <bean id="mappingJacksonHttpMessageConverter" class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	
	<!-- Spring mvc 返回json格式 此处需要重写该类 -->
    <bean id="noCachemappingJacksonHttpMessageConverter" class="com.matrix.system.NoCacheMappingJacksonHttpMessageConverter"/>
    <!-- Spring mvc 返回json格式 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean="mappingJacksonHttpMessageConverter" />
				<ref bean="noCachemappingJacksonHttpMessageConverter"/>
			</list>
		</property>
	</bean>
     
    <!-- SpringMVC 文件上传配置   如果此处开启状态，那么matrix-file服务则不可用
   	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
		<property name="maxUploadSize">
			<value>32505856</value>
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
	</bean> 
	-->
	
	
		
	
	
	<!-- 初始化Redis -->
	<bean class="com.matrix.cache.redis.core.RedisTemplate"/>
	<!-- Spring-Session -->
    <!--  
    	Spring-Session  新sessionid
    	https://www.cnblogs.com/aflyun/p/8532210.html
    	
    	No bean named 'springSessionRepositoryFilter' available
    	https://www.cnblogs.com/EasonJim/p/7815712.html
    -->
	<bean class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration">
        <!--指定session策略-->
        <!--<property name="httpSessionStrategy" ref="httpSessionStrategy"/>-->
    </bean>
    <!--使用cookie策略-->
    <!-- <bean id="httpSessionStrategy" class="org.springframework.session.web.http.CookieHttpSessionStrategy">
        <property name="cookieSerializer" ref="cookieSerializer"/>
    </bean> -->
    <!--指定cookie的域名及路径-->
    <!-- <bean id="cookieSerializer" class="org.springframework.session.web.http.DefaultCookieSerializer">
        <property name="cookiePath" value="/"/>
        <property name="domainName" value="www.matrix.com"/>
    </bean> -->
    
    
	
	<!-- 处理responseBody 里面日期类型。开启此处将自动过滤所有返回向页面的java.util.date类型数据 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper">
					<bean class="com.matrix.system.MatrixObjectMapper">
						<property name="dateFormat">
							<bean class="java.text.SimpleDateFormat">
								<constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
							</bean>
						</property>
					</bean>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

</beans>  





























